$orange: #fd3500;
$green: #00aa00;
$dark-green: #006300;
$blue: #007bff;
$pink: #cc00ff;
$gold: #fff800;
$white: #ffffff;
$piggy_color: #ac00bd;
$tiger_color: #ff8300;
$pooh_color: #e75100;
$blue_background: #0073c1;
$pink: #FFC3C3;
$border_choosePackage: #EA9EFF;
$backgroundColor_choosePackage: #6a1e50;
$name: #692dff;
$shadow_color: #ff0000;
$hours_color: #950600;
$purple_light: #8147fa;
$gray: #5f5876;

$text_font: 'Itim';