$orange: #fd3500;
$green: #00aa00;
$blue: #007bff;
$pink: #cc00ff;
$gold: #fff500;
$white: #ffffff;
$piggy_color: #ea39ff;
$tiger_color: #e70000;
$pooh_color: #e75100;
$blue_background: #0073c1;
$pink: #FFC3C3