@import "../partials/fonts";
@import "../partials/colors";

@mixin box-style($width, $height) {
  width: $width;
  height: $height;
  //background-color: $background;
  //color: $nav_sidebar;
  //border: 1px grey dashed;
}


@mixin mobile-main {
  @media (min-width: 376px) {
    @content
  }
}
@mixin tablet-main {
  @media (min-width: 910px) {
    @content
  }
}
@mixin desktop-main {
  @media (min-width: 1200px) {
    @content
  }
}


@mixin inputStyle {
  border-width: 0 0 3px 0;
  outline: none;
  width: 200px;
  height: 35px;
  font-size: 25px;
  font-family: $text_font;
  background: none;
}

@mixin shadowBoxes ($color) {
  box-shadow: 0 3px 8px 4px $color;
}

@mixin box ($backgroundColor) {
  border: 5px dashed $gold;
  border-radius: 20px;
  background-color: $backgroundColor;
}
