body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}


.App {
  text-align: center;
}

.main {
    max-width: 1100px;

  .packeges {
    display: flex;
    font-size: 25px;
    color: red;
    font-weight: bold;
    height: 500px;
    .packege {
      border: 1px solid green;
      .title {
        padding: 5px;
      }
    }

  }
}

