@import "../partials/colors";
@import "../partials/mixins";

.birth-table-img {
  width: 95%;
  @media (min-width: 410px) {
    width: 70%;
  }
}


.chooseYourPackage{
  .chooseYourPackage-box {
    text-align: center;
    margin: 10px 0;
    @include shadowBoxes(#8147FA);
    border-radius: 20px;
    background-color: #8147fa;
    &__title{
      margin: 10px 0;
      padding: 10px 0 20px 0;
      border-bottom: 10px dotted $gold;
      color: $gold;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: 20px;
  }
  .form-total {
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    color: #2c9921;
    box-shadow: 0 3px 8px 4px #FF6600;
  }
}

