@import "../partials/colors";

.form-table {
  tbody {
    text-align: center;
    border: 5px dotted $tiger_color;
    margin: 10px 0;
    .header-cells {
      background-color: rgba(255, 255, 255, 0.2);
      .ten-kids{
        color: $gold;
      }
      .piggy {
        color: $piggy_color;
      }
      .tiger {
        color: $tiger_color;
      }
      .pooh {
        color: $pooh_color;
      }
    }

    .week-days {
      background-color: $blue;
      &__title {
      color: #4affd5;
      }
    }
    .weekend-days {
      background-color: $green;
      &__title {
        color: #beff00;
      }
    }
    .extra-kid {
      margin-top: 15px;
      color: $dark-green;
      background-color: rgba(255, 255, 255, 0.2);
      &__piggy {
        color: $piggy_color;
      }
      &__tiger {
        color: $tiger_color;
      }
      &__pooh {
        color: $pooh_color;
      }
    }

    th {

      @media (min-width: 410px) {
        padding: 10px;
      }

      @media (min-width: 768px) {
        padding: 10px;
        font-size: 25px;
      }
    }
  }
}

.youChoosePackage {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
   &__whatPackage {
     font-size: 20px;
     position: absolute;
     top: 60px;
     color: $gold;
   }
}