@import "../partials/colors";

.form-table {
  tbody {
    padding: 20px 0;
    text-align: center;
    border: 5px dotted $tiger_color;
    margin: 10px 0;
    .header-cells {
      .ten-kids{
        color: $white;
      }
      .piggy {
        color: $piggy_color;
      }
      .tiger {
        color: $tiger_color;
      }
      .pooh {
        color: $pooh_color;
      }
    }

    .week-days {
      color: $white;
    }
    .weekend-days {
      color: $white;
    }
    .extra-kid {
      color: $green;
      border: 5px solid $white;
      &__piggy {
        color: $piggy_color;
      }
      &__tiger {
        color: $tiger_color;
      }
      &__pooh {
        color: $pooh_color;
      }
    }

    th {

      @media (min-width: 410px) {
        padding: 10px;
      }

      @media (min-width: 768px) {
        padding: 10px;
        font-size: 25px;
      }
    }
  }
}

.youChoosePackage {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
   &__whatPackage {
     font-size: 20px;
     position: absolute;
     top: 60px;
     color: $gold;
   }
}