@import "../partials/colors";

.form-table {
  tbody {
    padding: 20px 0;
    text-align: center;
    color: $white;
    border: 5px dotted $tiger_color;
    margin: 10px 0;
    .header-cells {
      th {
        color: $white;
        background-color: $tiger_color;
      }
      &__tenkids{
        color: $white;
      }
      &__piggy {
        color: $piggy_color;
      }
      &__tiger{

      }
      &__pooh {

      }
    }

    .week-days {
      color: $white;
      background-color: $tiger_color;
    }
    .weekend-days {
      color: $white;
      background-color: $tiger_color;
    }
    .extra-kid {
      color: $green;
      border: 5px solid $white;
    }

    th {

      @media (min-width: 410px) {
        padding: 10px;
      }

      @media (min-width: 768px) {
        padding: 10px;
        font-size: 25px;
      }
    }
  }
}

.youChoosePackage {
  padding-top: 40px;
   display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
   span {
     display: inline-block;
     position: relative;
     //top: 120px
   }

}