.birth-date {
  margin: 50px;

  .number-of-kids {
    color: #FF6600;
    input {
      background-color: #FF6600;
    }
  }

  .kid-name {
    color: #00ecbc;
    input {
      border-bottom-color: #00ecbc;
      border-width: 0 0 3px 0;
      outline: none;
      width: 200px;
      height: 35px;
      font-size: 25px;
      font-family: 'Itim';
      background: none;
      color: #FFFFFA;
    }
  }

  .birthday-party-date {
    color: #FF009B;
    input {
      border-bottom-color: #FF009B;
      border-width: 0 0 3px 0;
      outline: none;
      width: 200px;
      height: 35px;
      font-size: 25px;
      font-family: 'Itim';
      background: none;
      color: #FFFFFA;
    }
  }

  .number-of-kids,
  .kid-name,
  .birthday-party-date {
    margin: 20px;
  }


}