:root {
    font-size: 14px;
    font-family: $text_font;
}

body {
    //background-color: #007adf;
    width: 100%;
    background: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
    background-repeat: no-repeat;
    height: 100%;
}