.addition {
  margin: 30px 0;
  .plus-circle {
    position: relative;
    top: 3px;
    right: 3px;
  }

  text-align: center;
  button {
    font-family: 'Itim';
    font-size: 20px;
    outline: none;
    background: none;
    border: none;
  }
}