//@import "../main";
@import "../partials/mixins";
@import "../partials/colors";

.img-balloons {
  display: inline-block;
  width: 300px;
  height: 400px;
  position: absolute;
  margin-left: 20px;
  top: -390px;
  z-index: 1;
  @include mobile-main  {
    left: 5%;
  }
  @include tablet-main {
    left: 20%;
  }
  @include desktop-main {
  }
}

.img-BirthDay {
  width: 99%;
  border-radius: 20px;
}

@mixin box {
  border: 1px dashed black;
  border-radius: 20px;
  background-color: deepskyblue;
}

@mixin button {
  height: 50px;
  border-radius: 20px;
  background-color: purple;
  color: whitesmoke;
  border: none;
}

@keyframes animation1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.packagesBox {
  width: 100%;
  height: 100%;

  .package-table {
    background-color: $brown_background;
    margin-top: 355px;
    display: inline-block;
    border: 3px solid #552929;
    border-radius: 20px;
    position: absolute;
    transform: scale(0);
    animation: animation1 3s linear forwards;

    tbody {
      .ten-kids {
        color: $gold;
        border-bottom: 2px solid $white;
      }


      .package-piggy,
      .package-tiger,
      .package-pooh {
        padding: 5px;
        border-bottom: 4px solid $white;
        color: $gold;
      }
      .package-piggy {
        border-bottom: 4px solid $piggy_color;
      }
      .package-tiger {
        border-bottom: 4px solid $tiger_color;
      }
      .package-pooh {
        border-bottom: 4px solid $pooh_color;
      }

      .column-text{
        padding: 5px;
        color: $white;
        border-bottom: 1px solid $white;
      }
      .column-piggy,
      .column-tiger,
      .column-pooh {
        padding: 7px;
      }


    }
    //@include tablet-main {
    //  font-size: 20px;
    //}
    @include desktop-main {
    }
    .stars {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50px;
      span {
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        height: 127px;
        width: 100%;
        padding: 50px;
      }
    }

  }

}

