
@mixin box {
  border: 1px dashed black;
  border-radius: 20px;
  background-color: deepskyblue;
}

@mixin button {
  height: 50px;
  border-radius: 20px;
  background-color: purple;
  color: whitesmoke;
  border: none;
}

@keyframes animation1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.packagesBox {
  display: flex;
  justify-content: center;
  //overflow: auto;
  //border: 2px solid #4a4a49;
  border-radius: 20px;
  position: absolute;
  transform: scale(0);
  animation: animation1 3s linear forwards;
  &__description {
    h3 {
      text-align: center;
      padding: 5px;
    }
    .description_list {
      list-style: none;
      padding-left: 5px;
      &__element {
        width: 150px;
        height: 100px;
        padding: 5px;
        margin: 25px 0;
        border-top: 5px solid yellow ;
        font-size: 18px;
      }
    }
  }
  &__packages {
    display: flex;
    flex-wrap: nowrap;
    height: 500px;
    width: 150px;
    position: relative;
    animation: puls 4s 4s infinite linear;
    .package {
      width: 70px;
      .package-check {
        @include box;
        .title {
          padding-top: 10px;
          text-align: center;
          font-size: 14px;
        }
        .stars {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            font-size: 30px;
            font-weight: bold;
            color: #FFB03B;
            height: 127px;
            padding: 50px;
          }
        }
      }

    }

  }

}