@import "../partials/fonts";
@import "../partials/mixins";

.main-photo {
  display: block;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px dashed $gold;
  border-radius: 20px;
  margin: 20px 0;
  @include shadowBoxes($gold);
}

.welcome {

  width: 100%;
  padding: 15px;

  .welcomeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include shadowBoxes($gold);
    background-image: url("../../img/wallpaper_green.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px dashed $gold;
    border-radius: 20px;
    &__title {
      //margin: 50px;
      text-align: center;
      color: #514A9D;
      h1 {
        background-color: rgba(255, 255, 0, 0.7);
        border-radius: 20px;
      }

    }

    &__button {
      button {
        cursor: pointer;
        background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
        margin: 5px;
        padding: 15px;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        font-family: $text_font;
        transition: 0.5s;
        background-size: 200% auto;
        color: $gold;
        box-shadow: 0 0 20px deeppink;
        border-radius: 10px;
        display: block;
        &:hover {
          background-position: right center;
          text-decoration: none;
        }
        //&__giftImg {
        //  //display: inline-block;
        //  //position: relative;
        //  //top: 20px
        //}
        &::after {
          display: inline-block;
          content: url("../../img/Gift.svg");
          position: relative;
          top: 4px;
          left: 5px;
          color: $pink;
          width: 20px;
        }
        span {
          padding: 0 10px;
        }
      }
    }
    &__title,
    &__button {
      padding: 20px;
    }
  }

}




