@import "../partials/colors";
@import "../partials/mixins";


.birth-date {
  margin-top: 50px;
  background-image: url("../../img/wallpaper_green.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  @include shadowBoxes($green);

  .number-of-kids,
  .kid-name,
  .birthday-party-date,
  .birthday-party-hour {
    margin: 30px;
    background-color: rgba(255, 255, 0, 0.7);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }

  .number-of-kids {
    color: #005f8b;

  }

  .kid-name {
    color: $name;
    input {
      border-bottom-color: $name;
      @include inputStyle;
      color: $name;
    }
  }

  .birthday-party-date {
    color: $dark-green;
    input {
      cursor:pointer;
      text-align: center;
      border-bottom-color: $dark-green;
      @include inputStyle;
      color: $dark-green;
      border: none;
      font-weight: bold;
    }
  }

  .birthday-party-hour {
    color: $hours_color;
    select {
      cursor:pointer;
      text-align: center;
      color: $hours_color;
      @include inputStyle;
      border: none;
      font-weight: bold;
      appearance: none;
      background-image: url("../../img/arrow-down-circle.svg");
      background-repeat: no-repeat;
      background-position: right;

      option {
        display: inline-block;
        background-color: $pooh_color;
        font-weight: bold;
        border-radius: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  @include tablet-main {
    margin: 50px;
    justify-content: center;
  }
}
